<ion-header>
  <ion-navbar>
    <ion-title>
      B-OK
    </ion-title>
    <ion-buttons end>
        <button ion-button (click)="logout()">
            <ion-icon name="exit"></ion-icon>
          </button>
        </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-searchbar (ionInput)="getItems($event)"></ion-searchbar>
<!--<ion-list>
  <ion-item *ngFor="let item of items">
    {{ item }}
  </ion-item>
</ion-list> -->


<!-- https://ionicframework.com/docs/components/#sliding-list -->

<ion-list>
  <ion-item-sliding *ngFor="let post of posts | async">
    <ion-item >
      {{ post.title }}
      <ion-avatar item-start>
        <img [src]="post.imgUrl" >
      </ion-avatar>
      <h2>{{post.body}}</h2> 
    </ion-item>
    <ion-item-options side="right">
      <button ion-button color="dark" (click)="goToDetailPage(post)">
        <ion-icon name="search"></ion-icon>
        See listing
      </button>
      <button ion-button color="secondary" (click)= "goToComposeEmailPage(post)" >
        <ion-icon name="text"></ion-icon>
        Text
      </button>
    </ion-item-options>
  </ion-item-sliding>
</ion-list> 

</ion-content>
