page-add-post {


    //https://forum.ionicframework.com/t/ionic2-rc0-always-show-ion-range-pin/66724/3
    // Gjør så dråpen alltid er synlig
    .range-md .range-knob-handle .range-pin {
        transform: translate3d(0, 0, 0) scale(1); }
      
      .range-md:not(.range-has-pin) .range-knob-handle .range-knob {
        transform: scale(1); }
      
      .range-ios .range-knob-handle .range-pin {
        transform: translate3d(0, 0, 0) scale(1); }

}
